body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-title{
    font-size: 50px;
    font-weight: 700;
    color: #575757;
}

.banner-skip{
    color: #fb9149;
}

.banner-paragraph{
    font-size: 18px;
    margin-bottom: 70px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(#fd5031,#fb8f48);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 400;
}

.banner-box{
    display: flex;
}

.banner-right-img{
    width: 90%;
    margin-top: 100px;
}

.banner-right{
    width: 100%;
}
.banner-left{
    width: 100%;
    padding-left: 6%;
    margin-top: 170px;
}

section{
    margin-bottom: 100px;
}

.about-box{
    display: flex;
}

.about-left{
    width: 100%;
}

.about-left-img{
    width: 45%;
    height: 100%;
    padding: 0 200px;
}

.about-right{
    width: 100%;
}

.about-section-title{
    font-size: 40px;
    color: #707070;
    margin-bottom: 30px;
}

.about-section-paragraph{
    font-size: 18px;
    margin-bottom: 90px;
    padding-right: 200px;
}

.about-area{
    background-image: url(./img/about-bg.png);
    background-repeat: no-repeat;
    padding-top: 70px;
}

.recipies-headlines{
    text-align: center;
}

.recipies-section-title{
    font-size: 40px;
    color: #707070;
    margin-bottom: 25px;
}

.recipies-section-paragraph{
    font-size: 18px;
    margin-bottom: 40px;
    padding: 0 320px;
}

.recipies-items{
    width: 39%;
    padding: 25px;
    box-shadow: 2px 2px 30px #c4bdbd;
    border-radius: 30px;
    margin-right: 20px;
}

.recipie-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.recipie-title{
    font-size: 25px;
}

.recipie-paragraph{
    font-size: 18px;
    margin-top: -15px;
    padding-bottom: 15px;
}

.recipies-box{
    display: flex;
    justify-content: center;
}

.social-number{
    font-size: 50px;
    font-weight: 700;
}

.social-paragraph{
    margin-top: -5px;
}

.social-area{
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 30px #c4bdbd;
    margin: 0 6%;
    border-radius: 15px;
    margin-bottom: 100px;
}

.social-numbers-area{
    padding: 40px;
    margin: 0 50px;
}

.footer-area{
    background-color: #0b0d17;
}

.footer-title{
    color:#575757;
    font-size: 30px;
    padding-top: 50px;
}

.footer-skip{
    color: #fb9149;
}

.footer-paragraph{
    color: #cccdcf;
    padding-bottom: 100px;
    font-size: 15px;
    font-weight: 400;
}

.footer-box{
    text-align: center;
}